<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>UNED | Tecnologías Web | Foederis</title>
<meta charset="utf-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/> -->
<!-- 		<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/> -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/adb5bd4540.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/main.css" />
<script th:inline="javascript">

			$(document).ready( () => {
			    $("#btnSubmit").click((event) => {
			        event.preventDefault();
			        doUpload();
			    });
			 
			});
			 
			function doUpload() {
			 
			    // Get form
			    var form = $('#uploadForm')[0];
			    var data = new FormData(form);
			    
			    var token = $('#_csrf').attr('content');
			    var header = $('#_csrf_header').attr('content');
			 
			    $.ajax({
			        type: "POST",
			        enctype: 'multipart/form-data',
			        url: "/chat/upload",
			        data: data,
			        processData: false, //prevent jQuery from automatically transforming the data into a query string
			        contentType: false,
			        cache: false,
			        beforeSend: (xhr) => {
                        xhr.setRequestHeader(header, token);
                    },
			        success: (data) => {
			        	$("#resultUpload").empty();
			            $("#resultUpload").append(data);
			        },
			        error: (e) => {
			        	$("#resultUpload").empty();
			            $("#resultUpload").append(data);
			        }
			    });
			}		
				
		</script>
</head>
<body class="bg-light" style="height: 100vh" onload="connect()" />

<noscript>
	<h2>Para esta aplicación es necesario que su navegador soporte javascript</h2>
</noscript>



<div th:insert="fragmentos :: navbar"></div>
<div id="chat-page" class="container mx-auto my-5 px-ms-5 h-100">
	<div class="chat-header">
		<h2>Bienvenido al evento ...</h2>
		<p id="userName" th:text="${user}" class="text-danger"></p>
	</div>
	<div id="connecting" class="hidden">Conectando...</div>
	<ul id="messageArea" class="list-group">

	</ul>
	<div class="chat-footer">
		<table class="table-chat">
			<tr>
				<td>
					<form id="messageForm" name="messageForm">
						<div class="form-group">
							<div class="input-group clearfix">
								<input type="text" id="message"
									placeholder="Introduce un mensaje..." autocomplete="off"
									class="form-control" />
								<button type="submit" class="btn btn-success">Send</button>
							</div>
						</div>
					</form>
				</td>
				<td>
					<form id="uploadForm" name="uploadForm" method="POST"
						enctype="multipart/form-data">
						<div class="form-group">
							<div class="input-group clearfix">
								<input type="file" name="file" placeholder="Upload File" /> <input
									id="btnSubmit" type="submit" value="Submit"
									class="btn btn-success" />
							</div>
						</div>
					</form>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<div id="resultUpload"></div>
				</td>
			</tr>
		</table>
	</div>
</div>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>