<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
		<title>UNED | Tecnologías Web | Foederis</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
		<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/adb5bd4540.js" crossorigin="anonymous"></script>
	 	<link rel="stylesheet" href="/css/main.css" />
		<script th:inline="javascript">
			function uploadFile() {

				jQuery.ajax({
				    url: '/chat/upload',
				    data: $('#file').val(),
				    cache: false,
				    contentType: false,
				    processData: false,
				    method: 'POST',
				    
					success: function(response){
						$('#resultUpload').value(response);
				    }
				});
				
// 				var	url = "/upload";
// 				var file = $('#file').val();

// 				// $('#resultUpload').value(response);
// 				$('#resultUpload').load(url);
				
			}
			$(function() {
				$('#btnUpload').click(uploadFile);
			});
		</script>
    </head>
    <body class="bg-light" style="height: 100vh" onload="connect()"/>  <!--   onload="initChat() -->
	<noscript>
		<h2>Sorry! Your browser doesn't support Javascript</h2>
	</noscript>



	<div th:insert="fragmentos :: navbar"></div>
	<div id="chat-page" class="container mx-auto my-5 px-ms-5 h-100">
<!-- 		<div class="chat-container"> -->
		
			<div class="chat-header">
				<h2>Bienvenido al evento ...</h2>
				<p id ="userName" th:text="${user}" class="text-danger"></p>
			</div>
<!-- 			<div id="username-page"> -->
<!-- 				<div class="username-page-container"> -->
<!-- 					<form id="usernameForm" name="usernameForm"> -->
<!-- 						<div class="form-group"> -->
<!-- 							<button type="submit" class="accent username-submit">Start -->
<!-- 								Chatting</button> -->
<!-- 						</div> -->
<!-- 					</form> -->
<!-- 				</div> -->
<!-- 			</div> -->
			<div id="connecting" class="hidden">Conectando...</div>
			<ul id="messageArea" class="list-group">

			</ul>
			<div  class="chat-footer">
				<table class="table-chat">
					<tr>
						<td>
							<form id="messageForm" name="messageForm">
								<div class="form-group">
									<div class="input-group clearfix">
										<input type="text" id="message" placeholder="Introduce un mensaje..."
											autocomplete="off" class="form-control" />
										<button type="submit" class="btn btn-success">Send</button>
									</div>
								</div>
							</form>
						</td>
						<td>
							<div class="col-2 col-lg-1 pl-0">
								<input type="file" name="file" />
								<button id="btnUpload" class="btn btn-success btn-block"
											style="border-top-left-radius:0!important; border-bottom-left-radius:0!important;">
<!-- 									<i class="fas fa-search"></i> -->
								</button>
							</div>



							<!-- <form id="uploadForm" name="uploadForm" th:action="@{/upload}" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<div class="input-group clearfix">
										<input type="file" name="file" />
										<input type="submit" value="Submit" class="btn btn-success"/>
									</div>
								</div>
							</form> -->
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div id="resultUpload"></div>
<!-- 							<div th:insert="fragmentos :: resultUpload"></div> -->
	<!-- 							<div th:if="${message}">
								<p th:text="${message}" class="text-danger"></p>
								</div> 					 -->
						</td>
					</tr>
				</table>
			</div>
	<!-- 	</div>  -->
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="/js/chat.js"></script>
    </body>
</html>