<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="guardar-salir">
		<div class="d-flex justify-content-center row my-5 mx-lg-5 px-md-5">
			<div class="col">
				<a href="/" class="btn btn-warning btn-block" role="button">Salir</a>
			</div>
			<div class="col">
				<button type="submit" class="btn btn-success btn-block">Guardar</button>
			</div>
		</div>
	</div>
	
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
			<!-- Logo -->
			<a class="navbar-brand mb-1" href="/">Foederis</a>
			
			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Agenda</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Salas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/Evento/listarFiltro">Eventos</a>
				</li>
			
				<!-- Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
						Administración
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="/administracion/perfil">Perfil</a>
						<a class="dropdown-item" href="/administracion/buscar/usuarios">Usuarios</a>
						<a class="dropdown-item" href="#">Salas</a>
					</div>
				</li>
			</ul>
		</nav>
	</div>
	
	<div th:fragment="tabla_usuarios" th:if="${usuarios}" class="border border-dark rounded mt-5">
		<table class="table table-striped mb-0">
			<thead>
				<tr>
					<th>#</th>
					<th th:text="${T(es.uned.foederis.Constantes.Usuario).USERNAME}"></th>
					<th th:text="${T(es.uned.foederis.Constantes.Usuario).NOMBRE}"></th>
					<th th:text="${T(es.uned.foederis.Constantes.Usuario).APELLIDOS}"></th>
					<th th:text="${T(es.uned.foederis.Constantes.Usuario).ROL}"></th>
					<th th:text="${T(es.uned.foederis.Constantes.Usuario).ESTADO}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user,i : ${usuarios}">
					<td th:text="${i.count}"></td>
					<td th:text="${user.username}"></td>
					<td th:text="${#strings.capitalizeWords('__${user.nombre}__')}"></td>
					<td th:text="${#strings.capitalizeWords('__${user.apellidos}__')}"></td>
					<td th:text="${user.rol.nombre}"></td>
					<td th:if="${user.activo}">Activo</td>
					<td th:unless="${user.activo}">Inactivo</td>
				</tr>
			</tbody>
		</table>
	</div>
  
</body>
</html>