<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
</head>
<body>

	<div th:fragment="guardar-salir">
		<div class="d-flex justify-content-center row my-5 mx-lg-5 px-md-5">
			<div class="col">
				<a href="/" class="btn btn-warning btn-block" role="button">Salir</a>
			</div>
			<div class="col">
				<button type="submit" class="btn btn-success btn-block">Guardar</button>
			</div>
		</div>
	</div>
	
	
	<div th:fragment="navbar">
		<div th:if="${__${@atributos.ALERTA}__}">
			<script th:inline="javascript">
				$(function() {
					$('#modal_alerta').modal('show');
				});
			</script>
			<div th:insert="fragmentos :: modal_alerta"></div>
		</div>
		<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
			<!-- Logo -->
			<a class="navbar-brand mb-1" href="/">Foederis</a>
			
			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Agenda</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Salas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/Evento/listarFiltro">Eventos</a>
				</li>
			
				<!-- Dropdown -->
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
						Administración
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{__${@rutas.ADM_PERFIL}__}">Perfil</a>
						<a class="dropdown-item" th:href="@{__${@rutas.ADM_USER_USERS}__}">Usuarios</a>
						<a class="dropdown-item" th:href="@{__${@rutas.ADM_SALA_SALAS}__}">Salas</a>
					</div>
				</li>
			</ul>
				
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
			      	<form th:action="@{/logout}" method="post">
						<button type="submit" class="btn btn-link px-0 text-light"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</button>
					</form>
				</li>
		    </ul>			
		</nav>
	</div>
	
	
	<div th:fragment="tabla_usuarios" th:if="${__${@atributos.USUARIOS}__}" class="border border-dark rounded">
		<table class="table table-striped mb-0">
			<thead>
				<tr>
					<th>#</th>
					<th th:text="${@usuarioConstantes.USERNAME}"></th>
					<th th:text="${@usuarioConstantes.NOMBRE}"></th>
					<th th:text="${@usuarioConstantes.APELLIDOS}"></th>
					<th th:text="${@usuarioConstantes.ROL}"></th>
					<th th:text="${@usuarioConstantes.ESTADO}"></th>
					<th class="pr-2"><span class="d-flex justify-content-center">Acciones</span></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user,i : ${__${@atributos.USUARIOS}__}">
					<td class="align-middle" th:text="${i.count}"></td>
					<td class="align-middle" th:text="${user.username}"></td>
					<td class="align-middle" th:text="${#strings.capitalizeWords('__${user.nombre}__')}"></td>
					<td class="align-middle" th:text="${user.apellidos}? ${#strings.capitalizeWords('__${user.apellidos}__')} : ''"></td>
					<td class="align-middle" th:text="${user.rol.nombre}"></td>
					<td class="align-middle" th:text="${user.activo}? 'Activo' : 'Inactivo'"></td>
					<td th:with="id=${user.idUsuario}, activo=${user.activo}" th:insert="fragmentos :: acciones"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
	<!-- 
	Cuando se llame a este fragmento hay que añadir la variable 'id' al contenedor
	Si tiene la accion ACTIVAR debe tener la variable 'activo'
	
	Ejemplo:
		<td th:with="id=${user.idUsuario}, activo=${user.activo}" th:insert="fragmentos :: acciones"></td>
		
	Las rutas de las acciones para los controladores serán la ruta base + accion
	
	Ejemplo:
		Llamando desde pantalla de usuarios aunque su ruta es /administacion/usuario/usuarios 
		el controllador tiene ruta base /administacion/usuario
		la ruta para la accion modificar queda /administacion/usuario/modificar
		
	Las acciones devuelven el id para poder buscar y cargar el objeto
	 -->
	<div th:fragment="acciones" class="btn-group d-flex justify-content-center">
		<button type="button" class="btn btn-link px-0" data-toggle="dropdown">
			<i class="fas fa-cog"></i>
		</button>
		<div class="dropdown-menu">
			<div th:each="accion : ${__${@atributos.ACCIONES}__}">
				<div th:if="${accion == '__${@acciones.ACTIVAR}__'}">
					<a th:if="*{activo}" class="dropdown-item" th:href="@{.__${@rutas.DESACTIVAR}__(id=*{id})}">Desactivar</a>
					<a th:unless="*{activo}" class="dropdown-item" th:href="@{.__${@rutas.ACTIVAR}__(id=*{id})}">Activar</a>
				</div>
				<form th:if="${accion == '__${@acciones.ELIMINAR}__'}" th:id="'eliminar'+*{id}" th:action="@{./__${accion}__(id=*{id})}" method="post">
					<input name="id" th:value="*{id}" type="hidden">
					<a class="dropdown-item" href="#" th:onclick="'document.getElementById(\'eliminar'+*{id}+'\').submit()'">Eliminar</a>
				</form>
				<a th:if="${accion != '__${@acciones.ACTIVAR}__' and accion != '__${@acciones.ELIMINAR}__'}"
				class="dropdown-item" th:href="@{./__${accion}__(id=*{id})}" th:text="${#strings.capitalize('__${accion}__')}"></a>
			</div>
		</div>
	</div>
	
	
	<!-- 
	Fragmento que muestra un mensaje al cargar la vista si llega el atributo alerta con el mensajer
	Se carga el el navbar si tiene alerta
	-->
	<div th:fragment="modal_alerta" id="modal_alerta" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" th:text="${__${@atributos.ALERTA_TITULO}__}? ${__${@atributos.ALERTA_TITULO}__} : 'Alerta!'"></h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
			  
				<div class="modal-body" th:text="${__${@atributos.ALERTA}__}"></div>
			
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				</div>  
			</div>
		</div>
	</div>
	
	
	<div th:fragment="resultUpload" th:if="${message}">
		<p class="text-danger" th:text="${message}"></p>
	</div>	
	
	
	<!-- 
	Necesita las variables 'ruta' y 'txt_boton' para mostrar un boton en la esquina superior derecha
	El boton lleva a la ruta especificado, se está usando para el boton nuevo 'objeto'
	
	Ejemplo:
		<div th:with="ruta=${'__${@rutas.ADM_USER_NUEVO}__'}, txt_boton=${'Nuevo usuario'}" th:insert="fragmentos :: buscar"></div>
	
	Si no trae alguno de estos 2 variables no se mostrará el boton
	Debe venir cargado desde el controlador el atributo @atributos.PARAMS_BUSQUEDA
	 -->
	<div th:fragment="buscar" class="border border-dark rounded d-flex flex-column">
		<div class="bg-secondary d-flex justify-content-between p-3">
			<h2 class="text-white mb-0">Buscar</h2>
			<a th:if="${ruta} and ${txt_boton}" th:href="${ruta}" class="btn btn-light btn-sm" role="button">
				<span class="align-middle" th:text="*{txt_boton}"></span>
			</a>
		</div>
		<div class="py-lg-4 py-3 px-lg-5 px-3">
		
			<div th:if="${isSala}" class="row">
				<div class="col">
					<div class="form-group">
						<div class="d-flex flex-wrap justify-content-around">
							<div class="custom-control custom-checkbox mx-2">
								<input id ="presentacion"  name="mediosTecnicos" th:value="${@salaConstantes.PRESENTACION}" class="custom-control-input" type="checkbox">
								<label for="presentacion" class="custom-control-label" th:text="${@salaConstantes.PRESENTACION}"></label>
							</div>
							<div class="custom-control custom-checkbox mx-2">
								<input id ="megafonia" name="mediosTecnicos" th:value="${@salaConstantes.MEGAFONIA}" class="custom-control-input" type="checkbox">
								<label for="megafonia" class="custom-control-label" th:text="${@salaConstantes.MEGAFONIA}"></label>
							</div>
							<div class="custom-control custom-checkbox mx-2">
								<input id ="grabacion" name="mediosTecnicos" th:value="${@salaConstantes.GRABACION}" class="custom-control-input" type="checkbox">
								<label for="grabacion" class="custom-control-label" th:text="${@salaConstantes.GRABACION}"></label>
							</div>
							<div class="custom-control custom-checkbox mx-2">
								<input id ="streaming" name="mediosTecnicos" th:value="${@salaConstantes.STREAMING}" class="custom-control-input" type="checkbox">
								<label for="streaming" class="custom-control-label" th:text="${@salaConstantes.STREAMING}"></label>
							</div>
							<div class="custom-control custom-checkbox mx-2">
								<input id ="wifi" name="mediosTecnicos" th:value="${@salaConstantes.WIFI}" class="custom-control-input" type="checkbox">
								<label for="wifi" class="custom-control-label" th:text="${@salaConstantes.WIFI}"></label>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-5 col-lg-4 pr-0">
					<select id="busqueda" class="form-control" required
					style="border-top-right-radius:0!important; border-bottom-right-radius:0!important;">
						<option value="" class="text-black-50">Parametro de busqueda</option>
						<option th:each="param_busq : ${__${@atributos.PARAMS_BUSQUEDA}__}" th:value="${param_busq}" th:text="${param_busq}"></option>
					</select>
				</div>
				<div class="col-5 col-lg-7 px-0">
					<input id="valor" class="form-control rounded-0" type="text" name="valor" placeholder="Filtro" required>
				</div>
				<div class="col-2 col-lg-1 pl-0">
					<button id="btn_buscar" class="btn btn-success btn-block"
					style="border-top-left-radius:0!important; border-bottom-left-radius:0!important;">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<div th:fragment="tabla_salas" th:if="${__${@atributos.SALAS}__}" class="border border-dark rounded">
		<table class="table table-striped mb-0 text-center">
			<thead>
				<tr>
					<th>#</th>
					<th th:text="${@salaConstantes.NOMBRE}"></th>
					<th th:text="${@salaConstantes.AFORO}"></th>
					<th th:text="${@salaConstantes.HORARIO}"></th>
					<th th:text="${@salaConstantes.PRESENTACION}"></th>
					<th th:text="${@salaConstantes.MEGAFONIA}"></th>
					<th th:text="${@salaConstantes.GRABACION}"></th>
					<th th:text="${@salaConstantes.STREAMING}"></th>
					<th th:text="${@salaConstantes.WIFI}"></th>
					<th class="pr-2"><span class="d-flex justify-content-center">Acciones</span></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="sala,i : ${__${@atributos.SALAS}__}" th:class="${sala.activa}? '' : 'text-muted'">
					<td class="align-middle" th:text="${i.count}"></td>
					<td class="align-middle" th:text="${#strings.capitalizeWords('__${sala.nombre}__')}"></td>
					<td class="align-middle" th:text="${sala.aforo}"></td>
					<td th:unless="${sala.activa}" class="align-middle">Inactiva</td>
					<td th:if="${sala.horaInicio} == ${sala.horaFin} and ${sala.activa}" class="align-middle">Abierto 24h</td>
					<td th:if="${sala.horaInicio} != ${sala.horaFin} and ${sala.activa}" class="align-middle"
					th:text="${#dates.format(sala.horaInicio,'HH:mm')+' - '+#dates.format(sala.horaFin,'HH:mm')}"></td>
					<td class="align-middle" th:text="${sala.presentacion}? 'Si' : 'No'"></td>
					<td class="align-middle" th:text="${sala.megafonia}? 'Si' : 'No'"></td>
					<td class="align-middle" th:text="${sala.grabacion}? 'Si' : 'No'"></td>
					<td class="align-middle" th:text="${sala.streaming}? 'Si' : 'No'"></td>
					<td class="align-middle" th:text="${sala.wifi}? 'Si' : 'No'"></td>
					<td th:with="id=${sala.idSala}, activo=${sala.activa}" th:insert="fragmentos :: acciones"></td>
				</tr>
			</tbody>
		</table>
	</div>
 
 	<div th:if="${!__${@atributos.FILES}__.isEmpty()}" th:fragment="resultDownload" class="border border-dark rounded">
		<div class="bg-secondary d-flex justify-content-between p-3">
			<h2 id="eventName" class="text-white mb-0" th:text="${__${@atributos.FILES}__[0].idEvento.nombre}"></h2>
			<p id="userName" th:text="${user}" class="hidden"></p>
			<p id="eventId" th:text="${eventid}" class="hidden"></p>
		</div>
		<div class="border border-dark rounded d-flex flex-column overflow-auto" style="height: 600px">
			<ul class="list-group" style="height: 100%; overflow-y: auto">
				<li th:each="chat : ${__${@atributos.CHATS}__}" class="list-group-item list-group-item-info">
					<span th:text="${chat.idUsuario.username}">
					</span>
						<p th:text="${chat.texto}">
					</p>
				</li>
			</ul>
		</div>
		<table class="table table-striped mb-0 text-center">
			<thead>
				<tr>
					<th>#</th>
					<th th:text="${@archivos.NOMBRE}"></th>
					<th class="pr-2"><span class="d-flex justify-content-center">Propietario</span></th>
					<th class="pr-2"><span class="d-flex justify-content-center">Fecha - Hora</span></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="file : ${__${@atributos.FILES}__}">
					<td class="align-middle" th:text="${file.idArchivo}"></td>
					<td class="align-middle">
						<a th:href="@{/chat/download/file?filename=} + ${file.nombreArchivo}" th:text="${file.nombreArchivo}"></a>
					</td>
					<td class="align-middle" th:text="${file.idUsuario.username}"></td>
				</tr>
			</tbody>
		</table>
	</div>
 
</body>
</html>