<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Listar Eventos</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/adb5bd4540.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
	<script type="text/javascript" th:src="@{/js/moment-timezone-with-data.min.js}"></script>
	
	<script th:inline="javascript">
		function cambiarHora(){
			var horarios = document.getElementsByClassName("cambioHora");
			var i ;
			for(i=0; i<horarios.length;i++)
				if(horarios[i].innerHTML=="")
					horarios[i].innerHTML = "";
				else
					horarios[i].innerHTML = moment.tz(horarios[i].innerHTML, "America/New_York").local().format("DD-MM-YYYY HH:mm");
		}
	</script>
</head>
<body class="bg-light" style="height: 100vh"  onload="cambiarHora()">
    <div th:insert="fragmentos :: navbar"></div>
    <div class="container my-5">
    	<div class="card bg-light">
    	
    		<div class="card-header bg-secondary">   
	    		<div class="d-flex justify-content-between p-3" >
					<div class="text-white" th:switch="${filtroListado}"> 
						<h3 th:case="'todos'">Lista de Eventos - Todos</h3>
						<h3 th:case="'futuro'">Lista de Eventos - Proximos Eventos</h3>
						<h3 th:case="hoy">Lista de Eventos - Hoy</h3>
						<h3 th:case="rechazados">Lista de Eventos - Rechazados</h3>
						<h3 th:case="*">Lista de Eventos - Sin Confirmar</h3>  
					</div>
					<div sec:authorize="getPrincipal().isJefeProyecto() or getPrincipal().isAdmin()">
						<a th:href="@{${@rutas.EVENTOS_NUEVO}}" class="btn btn-light btn-sm" role="button">
							<span class="align-middle">Nuevo Evento</span>
						</a>
					</div>
				</div> 		
    		</div>
    		    		
    		<div class="card-body">	    			
		    	<div class="btn-group btn-group-toggle" data-toggle="buttons">		
					<a th:href="@{listarFiltro?filtroListado=todos}" class="btn btn-secondary btn-sm  " role="button">Ver todos los eventos</a>
					<a th:href="@{listarFiltro?filtroListado=hoy}" class="btn btn-secondary btn-sm " role="button">Ver los de hoy</a>
					<a th:href="@{listarFiltro?filtroListado=futuro}" class="btn btn-secondary btn-sm" role="button">Ver los proximos</a>
					<a th:href="@{listarFiltro?filtroListado=rechazados}" class="btn btn-secondary btn-sm  " role="button">Ver Rechazados</a>			    		   
					<a th:href="@{listarFiltro?filtroListado=sin}" class="btn btn-secondary btn-sm" role="button">Ver sin Confirmar</a>
		    	</div>		
	    	</div>
   			
   			<table class="table table-striped" width="100%">
   				<thead>
   					<tr>
   						<th>ID</th>
   						<th>Nombre</th>
   						<th>Fecha Inicio</th>
   						<th>Sala</th>
    					<th>Estado</th>
   						<th>Creador</th>    						
   						<th>Detalles</th>
   						<th>Baja</th>
   						<th>Entrar</th>
   						<th>Recuperar</th>    						
					</tr>
				</thead>
				<tbody>
					<tr th:each="reunion: ${lstEventos}">
						<td th:text="${reunion.idEvento}"></td>
						<td th:text="${reunion.nombre}"></td>
						<td class="cambioHora" th:text="${reunion.horarioElegido != null ?reunion.horarioElegido.Horario_Fecha_Inicio: ''}"></td>
						<td th:text="${reunion.salaEvento.idSala}"></td>						
   						<td th:text="${reunion.getEstado()}"></td>
						<td th:style="${reunion.UsuarioCreador.idUsuario == userLogin.idUsuario ? 'color:green;' : 'color:black;'}" th:text="${reunion.UsuarioCreador.username}"></td>
						<td th:style="${filtroListado=='rechazados' ? 'display:none;':'display:block;'}">
							<a th:href="@{Evento/entrar?id=} + ${reunion.idEvento}" th:text="'Detalles'" class="btn btn-warning"></a>
						</td>
   							   							
						<td>
							<div th:if="${reunion.UsuarioCreador.idUsuario != userLogin.idUsuario and filtroListado!='rechazados' 
							and (reunion.horarioElegido != null and reunion.estado != @eventoConstantes.ESTADO_FINALIZADO)}">	   							
								<a th:href="@{Evento/baja?id=} + ${reunion.idEvento}" th:text="'Baja'" class="btn btn-outline-danger"></a>
							</div>	   							
							<div th:if="${reunion.UsuarioCreador.idUsuario == userLogin.idUsuario and filtroListado!= 'rechazados'}">
								<label>No disponible</label>
							</div>	
						</td>
						<td><div th:if="${reunion.estado == @eventoConstantes.ESTADO_ONLINE}">
							<a th:href="@{/chat?id=} + ${reunion.idEvento}" th:text="'Entrar'" class="btn btn-outline-success"></a></div></td>
						<td><div th:if="${reunion.estado == @eventoConstantes.ESTADO_FINALIZADO}">
							<a th:href="@{/chat/download?eventId=} + ${reunion.idEvento}"><span th:text="'Recuperar evento'"></span></a></div>
						</td>
					</tr>   							
   				</tbody>
    		</table>
    	</div>
    </div> 
</body>
</html>