<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Listar Eventos</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/adb5bd4540.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-info" style="height: 100vh">
    <div class="container">
    	<div class="card bg-light">
    		<div class="card-header">
    			<h3 th:if="${mostrarFuturos == 'no'}">
    				Lista de Eventos - Todos
    			</h3>
    			
    			<h3 th:if="${mostrarFuturos == 'Si'}">
    				Lista de Eventos - Proximos Eventos
    			</h3>
    		</div>
    		<div class="card-body">
    			<span th:if="${mostrarFuturos == 'no'}">
    				<a th:href="@{listarEventos?mostrarFuturos=Si}" class="btn btn-outline-primary btn-block">Ver eventos proximos</a>
    			</span>
    			
    			<span th:if="${mostrarFuturos == 'Si'}">
    				<a th:href="@{listarEventos?mostrarFuturos=No}" class="btn btn-outline-primary btn-block">Ver todos los eventos</a>
    			</span>
    			<table class="table table-striped">
    				<thead>
    					<tr>
    						<th>ID</th>
    						<th>Nombre</th>
    						<th>Fecha Inicio</th>
    						<th>Sala</th>
    						<th>Estado</th>
    						<th>Salir</th>
    						<th>Entrar</th>
    						<th>Ir</th>
   						</tr>
   					</thead>
   					<tbody>
   						<tr th:each="reunion: ${lstEventos}">
   							<td th:text="${reunion.idEvento}"></td>
   							<td th:text="${reunion.nombre}"></td>
   							<td th:text="${#dates.format(reunion.fechaInicio, 'dd-MM-yyyy HH:mm')}"></td>
   							<td th:text="${reunion.idSala}"></td>
   							<td th:text="${reunion.estado}"></td>
   							<td><a th:href="@{baja?id=} + ${reunion.idEvento}" th:text="'Baja del Evento'" class="btn btn-outline-danger"></td>
   							<td><a th:href="@{entrar?id=} + ${reunion.idEvento}" th:text="'Entrar al Evento'" class="btn btn-outline-warning"></td>
   							<td><a th:href="@{ir?id=} + ${reunion.idEvento}" th:text="'Ir al Evento'" class="btn btn-outline-success"></td>
   						</tr>   							
   					</tbody>
   					<tfoot>
   					</br>
   						<tr>
   							<td colspan = "8">   							
   								<a th:href="@{crear}" class="btn btn-outline-primary btn-block" >Añadir evento</a>
   							</td>
   						</tr>   						
   					</tfoot>
    			</table>
    		</div>
    	</div>
    </div>
    	
    </body>
</html>