<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Evento seleccionado</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="https://kit.fontawesome.com/adb5bd4540.js" crossorigin="anonymous"></script>

		
    </head>
    <body class="bg-info" style="height: 100vh">
    <div th:insert="fragmentos :: navbar"></div>
     <div class="container">
    	<div class="card bg-light">
    		<div class="card-header">    			
    			<h1 class="text-success px-5 mx-5"><strong>Evento seleccionado</strong></h1>
    		</div>	
    		</br>    				
    			<div class="card-body">
    				<form th:action= "@{/Evento/confirmar}" method= "post" th:object="${eventoSeleccionado}">
    					
    					<table style="table-layout: fixed; width: 100%" class="table table-striped">
 					   		<tbody>
		   						<tr rowspan= "2">
		   							<td><label style="color:#007bff;">Id evento:</label></td>
<!-- 		   							<td th:text="*{idEvento}" readonly></td>  	 -->
									<td>
									 	<input type="hidden" th:field="*{idEvento}">
									</td>
		   						</tr> 
		   						<tr>
		   							<td ><label style="color:#007bff;">Nombre:</label></td>
		   							<td colspan ="3" style="word-wrap: break-word" th:text="*{nombre}" readonly></td>
		   						</tr> 

		   						<tr>
		   							<td><label style="color:#007bff;">Usuario Creador:</label></td>
		   							<td th:text="*{UsuarioCreador.username}" readonly></td>
		   							
		   							<td><label style="color:#007bff;">Sala:</label></td>
		   							<td th:text="*{salaEvento.id}" readonly></td>
		   						</tr>  	
		   						<tr>		   							
	   								<div th:if= "*{horarioElegido == null}"> 

										<td colspan="1">
											<label style="color:#007bff;">Opciones de horario:</label>										
											
										</td>
										<td colspan="3">
										
	 	   									<ul >
	 	   										<li th:each="horarioDisponible: *{lstHorarios}" th:name="bua">	    										
    
	 	   											<input type="radio" th:name="seleccionHorario" th:value="${horarioDisponible.idHorario}" checked="checked"/> 
													<label for="${horarioDisponible.idHorario}" th:text="${' Comienzo: ' + #dates.format(horarioDisponible.Horario_Fecha_Inicio, 'dd-MM-yyyy HH:mm') + ' Fin: ' + #dates.format(horarioDisponible.Horario_Fecha_Fin, 'dd-MM-yyyy HH:mm')}"></label>
	 	   										
	 	   										</li>
	 	   									</ul>
 	   									</td>	   									
	   								</div>
	   								<div th:unless= "${eventoSeleccionado.horarioElegido == null}">
	   									<td><label style="color:#007bff;">Horario elegido Inicio:</label></td>
			   							<td th:text="${#dates.format(eventoSeleccionado.horarioElegido.Horario_Fecha_Inicio, 'dd-MM-yyyy HH:mm')}" readonly></td>
			   							
			   							<td><label style="color:#007bff;">Horario elegido Fin:</label></td>
			   							<td th:text="${#dates.format(eventoSeleccionado.horarioElegido.Horario_Fecha_Fin, 'dd-MM-yyyy HH:mm')}" readonly></td>	
	   								</div>	
		   						</tr>
		   												
   							</tbody>
   							<tfoot>
		   						</br>
		   						<tr th:if="${eventoSeleccionado.UsuarioCreador.idUsuario != userLogin.idUsuario}">
		   							<td colspan = "2">   							
		   								<a th:href="@{baja?id=} + ${eventoSeleccionado.idEvento}" class="btn btn-outline-primary btn-block" >Darme de Baja</a>
		   							</td>
		   							
		   							<td colspan = "2">  
		   								<button class="btn btn-outline-primary btn-block" type="submit">Confirmar Asistencia</button>
		   							 							
<!-- 		   							<a th:href="@{confirmar?idEv=}+ ${eventoSeleccionado.idEvento}" class="btn btn-outline-primary btn-block" >Confirmar Asistencia</a> -->
		   							</td>		   						
		   						</tr>   						
		   					</tfoot>
    					</table> 
    				</form>
    			</div>	
	        </div>
        </div>
    </body>
</html>