<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>Evento seleccionado</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- <script -->
<!-- 	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
<!-- <script -->
<!-- 	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
<!-- <script -->
<!-- 	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> -->
<!-- <script src="https://kit.fontawesome.com/adb5bd4540.js" -->
<!-- 	crossorigin="anonymous"></script> -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/adb5bd4540.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
	<script type="text/javascript" th:src="@{/js/moment-timezone-with-data.min.js}"></script>
	
	<script th:inline="javascript">
	
	function cambiarHora(){
		var horarios = document.getElementsByClassName("cambioHora");
		var horariosInicio = document.getElementsByName("horaComienzo");
		var horariosFin = document.getElementsByName("horaFin");
		
		var i;
		for(i=0;i<horariosInicio.length;i++)
			horariosInicio[i].innerHTML="Comienzo: ".concat(calcularNuevaHora(horariosInicio[i].innerHTML));
		
		for(i=0;i<horariosFin.length;i++)
			horariosFin[i].innerHTML=" Fin: ".concat(calcularNuevaHora(horariosFin[i].innerHTML));
		
		for(i=0;i<horarios.length;i++){
			if(horarios[i].innerHTML != "Sin Confirmacion")	
				horarios[i].innerHTML= calcularNuevaHora(horarios[i].innerHTML);
		}		
	}
	
	function calcularNuevaHora(horario){
		return moment.tz(horario, "America/New_York").local().format("DD-MM-YYYY HH:mm");
	}
	
	function buscarSalas() {
		var url = [[@{${@rutas.EVENTOS_BUSQ_SALAS}}]];
		var busqueda = $('#busqueda').val();
		var valor = $('#valor').val();
		
		url += "?paramBusq=";
		if (busqueda) {
			url += busqueda;
		} 
		url += "&valorBusq=";
		if (valor) {
			url += valor;
		}
		$('#lista_salas').empty();
		$('#lista_salas').load(url, hoverSalas);
	}
	
	function setSala(sala) {
		$('#inputSala').val($(sala).data("nombre"));
		$('#idSala').val($(sala).data("idsala"));
		$('#separador').text("/");
		$('#maxUsuarios').text($(sala).data("aforo"));
		$('#salasModal').modal('toggle');
		$('#listaUsuarios').show();
		$('#filtrarUsuarios').prop("disabled", false);
		$('#filtrarUsuarios').attr("placeholder", "Buscar por nombre");
		setIntervaloHoras(sala);
	}
	
	function setIntervaloHoras(sala) {
		var hInicio = parseInt($(sala).data("hinicio"),10);
		var hFin = parseInt( $(sala).data("hfin"),10);
		if (hInicio != hFin) {
			var h;
			horasDesactivadasIni = [];
			horasDesactivadasFin = [];
			if (hInicio < hFin) {
				for (h = 0; h < hInicio; h++) {
					horasDesactivadasIni.push(h);
					horasDesactivadasFin.push(h);
				}
				for (h = hFin+1; h < 24; h++) {
					horasDesactivadasIni.push(h);
					horasDesactivadasFin.push(h);
				}
			} else {
				for (h = hFin+1; h < hInicio; h++) {
					horasDesactivadasIni.push(h);
					horasDesactivadasFin.push(h);
				}
			}
			horasDesactivadasIni.push(hFin);
			horasDesactivadasFin.push(hInicio);
			for (var i=1; i<=6; i+=2) {
				$('#datetimepicker'+i).datetimepicker('disabledHours', horasDesactivadasIni);
			}
			for (var i=2; i<=6; i+=2) {
				$('#datetimepicker'+i).datetimepicker('disabledHours', horasDesactivadasFin);
			}
		} 
	}
	
	function validarMaxUsuarios() {
		var maxUsuarios = $("#maxUsuarios").text();
		var nUsuarios = $("#nUsuarios").text();
		if($(this).is(':checked')) {
			nUsuarios++;
			if (maxUsuarios == nUsuarios) {
				$("#listaUsuarios input:checkbox:not(:checked)").prop('disabled', true);
			}
		} else {
			nUsuarios--;
			if ((maxUsuarios-1) == nUsuarios) {
				$("#listaUsuarios input:checkbox:not(:checked)").prop('disabled', false);
			}
		}
		$("#nUsuarios").text(nUsuarios);	
	}
	
	function hoverSalas(){
		$('#accordion > .card').hover(
			function(){
				$(this).children(".card-header").addClass("bg-primary");
			},
			function(){
				$(this).children(".card-header").removeClass("bg-primary");
			}
		);
	}
	function cambiarhorarioCierre() {
		var input = $(this);
		var dtpOrig = $(input.data("target"));
		var fecha = dtpOrig.datetimepicker('date');
		var fechaMin = moment(fecha).add(1, 'hour');
		var fechaMax = moment(fecha).add(5, 'hour');
		tratarHorario(input, fechaMin, fechaMax);
	}
	
	function cambiarhorarioApertura() {
		var input = $(this);
		var dtpOrig = $(input.data("target"));
		var fecha = dtpOrig.datetimepicker('date');
		var fechaMax = moment(fecha).add(-1, 'hour');
		var fechaMin = moment(fecha).add(-5, 'hour');
		tratarHorario(input, fechaMin, fechaMax);
	}
	
	function tratarHorario(input, fechaMin, fechaMax) {
		var dtpOrig = $(input.data("target"));
		var dtp = $(input.data("next"));
		var fecha = dtpOrig.datetimepicker('date');
		if (fecha!=undefined) {
			var horasDesactivadas = dtpOrig.datetimepicker('disabledHours');
			var hora = moment(fecha).hour();
			if (Object.keys(horasDesactivadas).includes(''+hora)) {
				input.val('');
				return false;
			}
			dtp.datetimepicker('maxDate', fechaMax);
			dtp.datetimepicker('minDate', fechaMin);
		} else {
			var fechaMin = moment(new Date());
			var fechaMax = moment(new Date()).add(100, 'year');
			dtp.datetimepicker('maxDate', fechaMax);
			dtp.datetimepicker('minDate', fechaMin); 
		} 
	}
	
	$(function () {
		$('.dtp').datetimepicker({
			format: 'DD/MM/YYYY HH:00',
			useCurrent: false,
			minDate: new Date(),
			daysOfWeekDisabled: [0,6]
		});
		$("#horarioApertura1").blur(cambiarhorarioCierre);
        $("#horarioCierre1").blur(cambiarhorarioApertura);
        $("#horarioApertura2").blur(cambiarhorarioCierre);
        $("#horarioCierre2").blur(cambiarhorarioApertura);
        $("#horarioApertura3").blur(cambiarhorarioCierre);
        $("#horarioCierre3").blur(cambiarhorarioApertura);
		
		$("#listaUsuarios input:checkbox").change(validarMaxUsuarios);
		$('#listaUsuarios').hide();
		$('#inputSala').click(buscarSalas);
		$('#btn_buscar').click(buscarSalas);
		$('#horario1').addClass('show');
		$("#filtrarUsuarios").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#listaUsuarios li").filter(function() {
				$(this).toggle($(this).children("div").children("label").text().toLowerCase().indexOf(value) > -1)
			});
		});
	});
	</script>
</head>
<body class="bg-light" style="height: 100vh" onload="cambiarHora()">
	<div th:insert="fragmentos :: navbar"></div>
	<div class="container my-5">

		<div th:if="${__${@atributos.SALAS}__}">
			<script th:inline="javascript">
				function mostrarModal() {
					$('#modal_sala').modal('show');
				}
			</script>
			<div th:insert="fragmentos :: modal_sala"></div>

		</div>

		<div class="card bg-light">
			<div class="card-header">
				<h1 class="text-success px-5 mx-5 ">
					<strong>Evento seleccionado</strong>
				</h1>
			</div>
			</br>
			<div class="card-body">
				<form th:action="@{/Evento/confirmar}" method="post"
					th:object="${eventoSeleccionado}">

					<table style="table-layout: fixed; width: 100%"
						class="table table-striped">
						<tbody>
							<tr rowspan="2">
								<!-- 									<td> -->
								<input type="hidden" th:field="*{idEvento}">
								<!-- 									</td> -->
							</tr>
							<tr>
								<td><label style="color: #007bff;">Nombre:</label></td>
								<td colspan="3" style="word-wrap: break-word"
									th:text="*{nombre}" readonly></td>
							</tr>

							<tr>
								<td><label style="color: #007bff;">Usuario Creador:</label></td>
								<td th:text="*{UsuarioCreador.username}" readonly></td>

								<td><label style="color: #007bff;">Sala:</label></td>
								<td>
									<button type="button" id="idSalaTooltip"
										class="btn btn-outline-secondary"
										th:text="*{getSalaEvento().idSala}"
										title="${eventoSeleccionado.idEvento}"
										onclick="mostrarModal()"></button>
								</td>
							</tr>
							<tr>
								<td><label style="color: #007bff;">Presencial:</label></td>
								<td><input type="checkbox" th:name="checkPresencial"
									class="form-check-input"
									th:checked="${usuarioEventoSeleccionado.isPresencial()}" /></td>

								<td><label style="color: #007bff;">Asistencia
										confirmada:</label></td>
								<td><input type="checkbox" name="checkAsistente"
									class="form-check" 
									th:checked="${usuarioEventoSeleccionado.isAsistente()}" disabled />
								</td>
							</tr>
							<tr>
								<div
									th:if="${eventoSeleccionado.UsuarioCreador.idUsuario != userLogin.idUsuario and usuarioEventoSeleccionado.horario== null && eventoSeleccionado.horarioElegido== null}">

									<td colspan="1"><label style="color: #007bff;">Opciones
											de horario:</label></td>
									<td colspan="3">

										<ul>
											<li th:each="horarioDisponible: *{lstHorarios}" th:name="bua">

												<input type="radio" th:name="seleccionHorario"
												th:value="${horarioDisponible.idHorario}" checked="checked" />
												
												<label  name="horaComienzo" for="${horarioDisponible.idHorario}"
												th:text="${horarioDisponible.Horario_Fecha_Inicio}"></label>
												<label  name="horaFin" for="${horarioDisponible.idHorario}"
												th:text="${horarioDisponible.Horario_Fecha_Fin}"></label>

											</li>
										</ul>
									</td>
								</div>
								<div th:unless="${eventoSeleccionado.horarioElegido == null}">
									<td><label style="color: #007bff;">Horario elegido
											Inicio:</label></td>
									<td class="cambioHora"
										th:text="${eventoSeleccionado.horarioElegido.Horario_Fecha_Inicio}"
										readonly></td>

									<td><label style="color: #007bff;">Horario elegido
											Fin:</label></td>
									<td class="cambioHora"
										th:text="${eventoSeleccionado.horarioElegido.Horario_Fecha_Fin}"
										readonly></td>
								</div>
							</tr>

						</tbody>
						<tfoot>
							</br>

							<tr th:if="${eventoSeleccionado.estado != @eventoConstantes.ESTADO_FINALIZADO}">
								<td colspan="2" th:if="${eventoSeleccionado.UsuarioCreador.idUsuario != userLogin.idUsuario && eventoSeleccionado.horarioElegido == null && usuarioEventoSeleccionado.horario== null}"><a
									th:href="@{baja?id=} + ${eventoSeleccionado.idEvento}"
									class="btn btn-primary btn-block">Darme de Baja</a></td>

								<td colspan="2" th:if="${eventoSeleccionado.UsuarioCreador.idUsuario == userLogin.idUsuario || (eventoSeleccionado.horarioElegido == null && usuarioEventoSeleccionado.horario== null)}">
									<button class="btn btn-primary btn-block" type="submit">Confirmar</button>

								</td>
							</tr>
							<tr><td colspan="4"><div></div></td></tr>
							
							<tr th:if="${eventoSeleccionado.UsuarioCreador.idUsuario == userLogin.idUsuario}">
								<td colspan="4"><h3>Gestión del evento</h3></td>
							</tr>

							<tr
								th:if="${eventoSeleccionado.UsuarioCreador.idUsuario == userLogin.idUsuario}">
								<td colspan="1"><label style="color: #007bff;">Inscritos
										al evento:</label></td>
								<td colspan="3"
									th:text="${eventoSeleccionado.getTotalConfirmadosEvento()+ ' de un total de ' + eventoSeleccionado.getEventosDelUsuarioTotal()}"></td>

							</tr>
							<tr
								th:if="${eventoSeleccionado.UsuarioCreador.idUsuario == userLogin.idUsuario}">
								<td><label style="color: #007bff;">Total Asistentes
										confirmados:</label></td>
								<td><label
									th:text="${eventoSeleccionado.getTotalAsistentesEvento()}"></label></td>

								<td><label style="color: #007bff;">Total Lista de
										Espera:</label></td>
								<td><label
									th:text="${eventoSeleccionado.getTotalListaEsperaEvento()}"></label></td>
							</tr>
							<tr
								th:if="${eventoSeleccionado.UsuarioCreador.idUsuario == userLogin.idUsuario}">
								<td><label style="color: #007bff;"> Horario mas	votado (actual):</label></td>
								<td colspan="3"><label class= "cambioHora"
									th:text="${horarioVotado == null ? 'Sin Confirmacion' : horarioVotado.Horario_Fecha_Inicio}" /></td>
							</tr>
							<tr th:if="${eventoSeleccionado.UsuarioCreador.idUsuario == userLogin.idUsuario && eventoSeleccionado.estado == @eventoConstantes.ESTADO_INACTIVO}">
								<td colspan="1">
									<label for="nombre"  style="color: #007bff;">Cambiar de Sala:</label>
								</td>
								<td><input id="inputSala" type="text" placeholder= "Pulse para cambiar la actual" class="form-control" data-toggle="modal" data-target="#salasModal" readonly/>								  								  	
								</td>
								
								<td><label for="nombre"  style="color: #007bff;">Enviar invitación:</label></td>	
								<td>
									<a class="btn btn-primary btn-md btn-block" role="button">Invitar</a>
								</td>													
							</tr>
						</tfoot>
					</table>
				</form>
				<div
					th:if="${eventoSeleccionado.UsuarioCreador.idUsuario == userLogin.idUsuario}">
					<form style="width: 100%"
						th:action="@{/Evento/confirmarAsistenciaEvento}" method="post"
						th:object="${eventoSeleccionado}">

						<input type="hidden" th:name="horarioVotado"
							th:value="${horarioVotado == null? null :horarioVotado.idHorario}" />
						<input type="hidden" th:name="checkAsistenteElegido" />	
						<input type="hidden" th:name="checkPresencial"/>	
						<input type="hidden" id="idSala" name="idSala"/>	
							
						<input type="hidden" th:name="eventoSeleccionado" th:value="${eventoSeleccionado.idEvento}" />								

						<table style="table-layout: fixed; width: 100%"
							class="table table-striped justify-content-center">
							<thead bgcolor="#79df91">
								<tr>
									<td colspan="5"><label style="color: #007bff;">
											Listado de Asistentes al evento:</label></td>
								</tr>
							</thead>
							<tbody>
								<tr
									th:each="usuariosInvitados : ${eventoSeleccionado.getEventosDelUsuario()}">
									<td><label
										th:text="${usuariosInvitados.usuario.username}"></label></td>
									<td><label
										th:text="${usuariosInvitados.usuario.nombre}"></label></td>
									<td><label
										th:text="${usuariosInvitados.usuario.apellidos != null ? usuariosInvitados.usuario.apellidos:''}"></label></td>
										<td><label class = "cambioHora"
										th:text="${usuariosInvitados.horario == null ? 'Sin Confirmacion' : usuariosInvitados.horario.Horario_Fecha_Inicio}"></label></td>
									<td>
										<div th:if="${usuariosInvitados.confirmado == 1}">
											<input type="checkbox"
											th:value="${usuariosInvitados.idUsuarioEvento}"
											th:name="checkAsistenteElegido" class="form-check"
											th:checked="${usuariosInvitados.asistente}" />
										</div>
										<div th:unless="${usuariosInvitados.confirmado != 0}">Baja
										</div>
										
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr th:if="${eventoSeleccionado.estado != @eventoConstantes.ESTADO_FINALIZADO}">
									<td colspan="2"><button class="btn btn-primary btn-lg btn-block"
											type="submit">Confirmar cambios del evento</button></td>		
								</tr>
							</tfoot>
						</table>						
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal con la busqueda y selección de sala -->
	<div class="modal fade" id="salasModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Salas</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<div class="modal-body">
					<div th:with="isSala=${'true'}, ruta=${'false'}" th:insert="fragmentos :: buscar"></div>
					<div id="lista_salas" class="my-5"></div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>