<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
	<title>Formulario Sala</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/adb5bd4540.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
	<script type="text/javascript" src="/js/moment-timezone-with-data.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

	<script th:inline="javascript">
	function buscarSalas() {
		var url = [[${@rutas.EVENTOS_BUSQ_SALAS}]];
		var busqueda = $('#busqueda').val();
		var valor = $('#valor').val();
		
		url += "?paramBusq=";
		if (busqueda) {
			url += busqueda;
		} 
		url += "&valorBusq=";
		if (valor) {
			url += valor;
		}
		$('#lista_salas').empty();
		$('#lista_salas').load(url, hoverSalas);
	}
	
	function setSala(sala) {
		$('#inputSala').val($(sala).data("nombre"));
		$('#idSala').val($(sala).data("idsala"));
		$('#separador').text("/");
		$('#maxUsuarios').text($(sala).data("aforo"));
		$('#salasModal').modal('toggle');
		$('#listaUsuarios').show();
		$('#filtrarUsuarios').prop("disabled", false);
		$('#filtrarUsuarios').attr("placeholder", "Buscar por nombre");
		setIntervaloHoras(sala);
	}
	
	function setIntervaloHoras(sala) {
		var hInicio = parseInt($(sala).data("hinicio"),10);
		var hFin = parseInt( $(sala).data("hfin"),10);
		if (hInicio != hFin) {
			var h;
			horasDesactivadasIni = [];
			horasDesactivadasFin = [];
			if (hInicio < hFin) {
				for (h = 0; h < hInicio; h++) {
					horasDesactivadasIni.push(h);
					horasDesactivadasFin.push(h);
				}
				for (h = hFin+1; h < 24; h++) {
					horasDesactivadasIni.push(h);
					horasDesactivadasFin.push(h);
				}
			} else {
				for (h = hFin+1; h < hInicio; h++) {
					horasDesactivadasIni.push(h);
					horasDesactivadasFin.push(h);
				}
			}
			horasDesactivadasIni.push(hFin);
			horasDesactivadasFin.push(hInicio);
			for (var i=1; i<=6; i+=2) {
				$('#datetimepicker'+i).datetimepicker('disabledHours', horasDesactivadasIni);
			}
			for (var i=2; i<=6; i+=2) {
				$('#datetimepicker'+i).datetimepicker('disabledHours', horasDesactivadasFin);
			}
		} 
	}
	
	function validarMaxUsuarios() {
		var maxUsuarios = $("#maxUsuarios").text();
		var nUsuarios = $("#nUsuarios").text();
		if($(this).is(':checked')) {
			nUsuarios++;
			if (maxUsuarios == nUsuarios) {
				$("#listaUsuarios input:checkbox:not(:checked)").prop('disabled', true);
			}
		} else {
			nUsuarios--;
			if ((maxUsuarios-1) == nUsuarios) {
				$("#listaUsuarios input:checkbox:not(:checked)").prop('disabled', false);
			}
		}
		$("#nUsuarios").text(nUsuarios);	
	}
	
	function hoverSalas(){
		$('#accordion > .card').hover(
			function(){
				$(this).children(".card-header").addClass("bg-primary");
			},
			function(){
				$(this).children(".card-header").removeClass("bg-primary");
			}
		);
	}
	
	function tratarFechas() {
		var date = $('#datetimepicker1').datetimepicker('date');
		var dateNY = moment(date).tz("America/New_York");
		$('#datetimepicker1').datetimepicker('date', dateNY);
		date = $('#datetimepicker2').datetimepicker('date');
		dateNY = moment(date).tz("America/New_York");
		$('#datetimepicker2').datetimepicker('date', dateNY);
		date = $('#datetimepicker3').datetimepicker('date');
		dateNY = moment(date).tz("America/New_York");
		$('#datetimepicker3').datetimepicker('date', dateNY);
		date = $('#datetimepicker4').datetimepicker('date');
		dateNY = moment(date).tz("America/New_York");
		$('#datetimepicker4').datetimepicker('date', dateNY);
		date = $('#datetimepicker5').datetimepicker('date');
		dateNY = moment(date).tz("America/New_York");
		$('#datetimepicker5').datetimepicker('date', dateNY);
		date = $('#datetimepicker6').datetimepicker('date');
		dateNY = moment(date).tz("America/New_York");
		$('#datetimepicker6').datetimepicker('date', dateNY);
	}
	
	function cambiarhorarioCierre() {
		var input = $(this);
		var dtpOrig = $(input.data("target"));
		var fecha = dtpOrig.datetimepicker('date');
		var fechaMin = moment(fecha).add(1, 'hour');
		var fechaMax = moment(fecha).add(5, 'hour');
		tratarHorario(input, fechaMin, fechaMax);
	}
	
	function cambiarhorarioApertura() {
		var input = $(this);
		var dtpOrig = $(input.data("target"));
		var fecha = dtpOrig.datetimepicker('date');
		var fechaMax = moment(fecha).add(-1, 'hour');
		var fechaMin = moment(fecha).add(-5, 'hour');
		tratarHorario(input, fechaMin, fechaMax);
	}
	
	function tratarHorario(input, fechaMin, fechaMax) {
		var dtpOrig = $(input.data("target"));
		var dtp = $(input.data("next"));
		var fecha = dtpOrig.datetimepicker('date');
		if (fecha!=undefined) {
			var horasDesactivadas = dtpOrig.datetimepicker('disabledHours');
			var hora = moment(fecha).hour();
			if (Object.keys(horasDesactivadas).includes(''+hora)) {
				input.val('');
				return false;
			}
			dtp.datetimepicker('maxDate', fechaMax);
			dtp.datetimepicker('minDate', fechaMin);
		} else {
			var fechaMin = moment(new Date());
			var fechaMax = moment(new Date()).add(100, 'year');
			dtp.datetimepicker('maxDate', fechaMax);
			dtp.datetimepicker('minDate', fechaMin); 
		} 
	}
	
	$(function () {
		$('.dtp').datetimepicker({
			format: 'DD/MM/YYYY HH:00',
			useCurrent: false,
			minDate: new Date(),
			daysOfWeekDisabled: [0,6]
		});
		$("#horarioApertura1").blur(cambiarhorarioCierre);
        $("#horarioCierre1").blur(cambiarhorarioApertura);
        $("#horarioApertura2").blur(cambiarhorarioCierre);
        $("#horarioCierre2").blur(cambiarhorarioApertura);
        $("#horarioApertura3").blur(cambiarhorarioCierre);
        $("#horarioCierre3").blur(cambiarhorarioApertura);
		
		$("#listaUsuarios input:checkbox").change(validarMaxUsuarios);
		$('#listaUsuarios').hide();
		$('#inputSala').click(buscarSalas);
		$('#btn_buscar').click(buscarSalas);
		$('#horario1').addClass('show');
		$("#filtrarUsuarios").on("keyup", function() {
			var value = $(this).val().toLowerCase();
			$("#listaUsuarios li").filter(function() {
				$(this).toggle($(this).children("div").children("label").text().toLowerCase().indexOf(value) > -1)
			});
		});
	});
	</script>
</head>
<body class="bg-light" style="height: 100vh">
   	<div th:insert="fragmentos :: navbar"></div>
   	<div class="container mx-auto my-5 px-ms-5 h-100">
   		<form class="px-md-5 mx-lg-5" th:object="${__${@atributos.EVENTO}__}" onsubmit="tratarFechas()" th:action="@{__${@rutas.EVENTOS_GUARDAR}__}" method="post">
           	<h1 class="mb-3 ml-n2">Evento</h1>
           	<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger alert-dismissible pt-4">
           		<button type="button" class="close" data-dismiss="alert">&times;</button>
		        <ul>
		            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
		        </ul>
		    </div>
				
		    <input type="hidden" th:field="*{estado}"> 
		    <input type="hidden" id="idSala" name="idSala"> 

			<div class="form-group">
				<label for="nombre">Titulo:</label>
				<input th:field="*{nombre}" type="text" class="form-control" th:errorclass="border-danger">
			</div>
			
			<div class="form-group">
				<label for="nombre">Sala:</label>
				<input id="inputSala" type="text" class="form-control" data-toggle="modal" data-target="#salasModal" readonly>
			</div>
			
			<div class="form-group">
				<label>Usuarios: <span id="nUsuarios">1</span><span id="separador"></span><span id="maxUsuarios"></span></label>
				<input class="form-control" id="filtrarUsuarios" type="text" placeholder="Primero seleccione una sala" disabled>
				<ul class="list-group" id="listaUsuarios" th:with="user=${__${@atributos.USER}__}">
					<li class="list-group-item">
						<div class="custom-control custom-checkbox">
							<input th:id="${'usuario'+user.idUsuario}" name="usuarios" th:value="${user.idUsuario}"
							 class="custom-control-input" type="checkbox" checked disabled>
							<label th:for="${'usuario'+user.idUsuario}" class="custom-control-label"
							 th:text="${#strings.capitalizeWords(user.nombre)+' '+#strings.capitalizeWords(user.apellidos)}">
							</label>
						</div>
						
					</li>
					<li th:each="usuario : ${__${@atributos.USUARIOS}__}" th:if="${usuario.idUsuario!=user.idUsuario}" class="list-group-item">
						<div class="custom-control custom-checkbox">
							<input th:id="${'usuario'+usuario.idUsuario}" name="usuarios" th:value="${usuario.idUsuario}"
							 class="custom-control-input" type="checkbox">
							<label th:for="${'usuario'+usuario.idUsuario}" class="custom-control-label"
							 th:text="${#strings.capitalizeWords(usuario.nombre)+' '+#strings.capitalizeWords(usuario.apellidos)}">
							</label>
						</div>
						
					</li>
				</ul>
			</div>
			
			<label>Horarios:</label>
			<div id="accordion" class="mb-3">
				<div th:with="n=${1}" th:insert="fragmentos :: horario"></div>
				<div th:with="n=${2}" th:insert="fragmentos :: horario"></div>
				<div th:with="n=${3}" th:insert="fragmentos :: horario"></div>
			</div>

			<div th:insert="fragmentos :: guardar-salir"></div>
        </form>
	</div>
	
	<!-- Modal con la busqueda y selección de sala -->
	<div class="modal fade" id="salasModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Salas</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<div class="modal-body">
					<div th:with="isSala=${'true'}, ruta=${'false'}" th:insert="fragmentos :: buscar"></div>
					<div id="lista_salas" class="my-5"></div>
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>